.button-hover {
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.7;
}

.text-hover {
    opacity: 0.7;
}

.no-tip {
    margin: 300rpx auto 0;
    width: 100%;
    font-weight: 500;
    font-size: 36rpx;
    color: #ddd;
    text-align: center;
}

/* position */

.inner {
    width: 100%;
    height: 100%;
}

.abs {
    position: absolute;
    left: 0;
    top: 0;
}

.innerabs {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.graybg {
    background: #eee;
}

/* .text-over {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-over2 {
    -webkit-line-clamp:2;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    overflow: hidden;
    text-overflow: ellipsis;
} */