/* pages/addInfo/index.wxss */

.top-title {
  color: #fdaf00;
  height: 60rpx;
  line-height: 60rpx;
  text-align: center;
  font-size: 24rpx;
  width: 100%;
  background: white;
  border-bottom: 1rpx solid #eff0f0;
}

.sheet-title {
  padding: 46rpx 0 8rpx 40rpx;
  font-size: 26rpx;
  color: #aeb1b0;
  font-weight: 500;
  line-height: 1;
}

.sheet-wrap {
  position: relative;
  display: flex;
  align-items: center;
  height: 128rpx;
  background: white;
  padding-left: 30rpx;
}

.sheet-wrap.style1 {
  height: 88rpx;
}

.sheet-wrap.top{
  border-top: 2rpx solid #eeeef0;
}

.sheet-wrap.bottom {
  border-bottom: 2rpx solid #eeeef0;
}

.bottom-line {
  position: absolute;
  bottom: 0;
  left: 30rpx;
  right: 0;
  height: 2rpx;
  background: #eeeef0;
}

/* capture */

.capture-btn {
  font-size: 30rpx;
  font-weight: 500;
  color: #000;
  display: flex;
  align-items: center;
  height: 84rpx;
  padding-left: 26rpx;
  padding-right: 26rpx;
  background: #fdb62c;
  border-radius: 10rpx;
  box-shadow: 0 2rpx 2rpx #aaa;
}

.capture-btn image {
  width: 55rpx;
  background: #eee;
  height: 100%;
}

.capture-btn text {
  margin-left: 28rpx;
}

/* input */

.sheet-wrap .title {
  font-size: 28rpx;
  color: #9fa2a1;
  font-weight: 500;
  width: 208rpx;
}

.sheet-wrap input {
  font-size: 28rpx;
  color: #9fa2a1;
  font-weight: 500;
  width: 480rpx;
}

/* bottom */

.bottom-handler {
  background: white;
}

.bottom-wrap {
  display: flex;
  justify-content: center;
  padding-bottom: 24rpx;
  background: white;
  padding-top: 24rpx;
  border-top: 2rpx solid #ded
}

.bottom-btn {
  width: 676rpx;
  height: 92rpx;
  border-radius: 10rpx;
  background: #26ab28;
  box-shadow: 0 2rpx 2rpx #aaa;
  text-align: center;
  line-height: 92rpx;
  font-size: 34rpx;
  font-weight: 500;
  color: white;
}
