/* pages/signup/index.wxss */
.form-wrap{
  margin:38rpx 0rpx 0rpx 80rpx;
}

.item{
  height: 140rpx;
  width: 590rpx;
  border-bottom:2rpx solid #ececec; 
}
.item-top{
  margin-top: 25rpx;
  color: #828282;
  font-size: 24rpx;
}
.item-pick{
  height: 176rpx;
  width: 590rpx;
}
.item-bottom{
  margin-top: 36rpx;
}
.item-bottom-pick{
  border-radius: 10rpx;
  height: 78rpx;
  width: 588rpx;
  margin-top: 36rpx;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: start;
  align-items: center;
}
.confirm-wrap{
  height: 150rpx;
   display: flex;
  justify-content: center;
  align-items: center;
}
.confirm{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92rpx;
  width: 670rpx;
  border-radius: 10rpx;
  background-color: #fca429
}
.item-bottom-pick image{
  position: absolute;
  right: 120rpx;
  width: 18rpx;
  height: 16rpx;
}